.save-main-container {
  h1 {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    padding: 16px 0 0 0;
  }

  .travels-list {
    display: grid;
    gap: 16px;
  }

  .travel-card {
    border-radius: 12px;
    margin: 0 8px 0 8px;
  }

  .travel-image {
    width: 100%;
  }

  .btn-delete {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .container-figcaption-btn {
    display: flex;
    justify-content: space-between;
  }

  .icone-deleted {
    width: 20px;
  }

  .connect-button {
    background-color: #f4c7c7;
    text-decoration: none;
    width: fit-content;
    border: none;
    border-radius: 23px;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
  }

  .connect {
    margin: 20px auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .save-main-container {
    h1 {
      font-size: 32px;
    }
    .travels-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .connect-button {
      display: block;
      margin: 32px auto;
    }
  }
}
