main {
  background-color: #f2f2f2;
}
main h1 {
  text-align: center;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}

figure {
  text-align: center;
}
figure figcaption {
  padding-bottom: 16px;
}

img {
  width: 300px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3)
    0px 30px 60px -30px;
}
