.background-page-about {
  background-image: url("/About-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: calc(100vh - 55.453px - 72px);
  color: white;

  h2 {
    padding: 80px 40px 40px 40px;
  }
  .avatar {
    display: grid;
  }
  p {
    width: 75%;
    margin: auto;
    padding: 30px;
  }

  .avatar {
    margin-top: 80px;
    gap: 64px;
  }

  .crew {
    text-align: center;
    img {
      width: 100px;
    }
    .name {
      padding: 5px;
      color: black;
    }

    .github {
      width: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    .avatar {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 992px) {
    .avatar {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
