/* background dark */
.home-main-container::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.3) 100%)
    repeat 0 0;
  z-index: 1;
}
/* Nesting css */
.home-main-container {
  position: relative;
  min-height: calc(100vh - 55px - 55px);
  background-image: url(/background-homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 2;

    h1 {
      /* color: #652306; */
      color: var(--title-color);
      text-shadow: var(--title-text-shadow);
      font-size: 1.1rem;
      margin: 16px 0;
      padding: 16px;
      text-transform: uppercase;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      flex: 1;
      padding-top: 64px;
    }
    p {
      color: var(--primary-color);
      width: 31ch;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
      backdrop-filter: blur(8px);
      margin: 48px 8px 0 0;
    }

    a {
      color: black;
      font-weight: 600;
      text-decoration: none;
      padding: 8px 32px;
      background-color: var(--primary-color);
      border-radius: 16px;
      margin: 0 16px 48px 0;
      transition: transform 0.2s, box-shadow 0.2s;
      &:hover {
        transform: scale(1.08);
        box-shadow: 0 4px 16px rgba(101, 35, 6, 0.15);
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 992px) {
  .home-main-container {
    section {
      h1 {
        font-size: 1.4rem;
      }
      p {
        align-self: flex-start;
        margin-left: 24px;
        font-size: 1.1rem;
      }
      a {
        padding: 12px 64px;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .home-main-container {
    section {
      h1 {
        font-size: 2rem;
      }
      p {
        align-self: flex-start;
        padding-left: 1rem;
        font-size: 1.5rem;
        margin: 12vh 0 0 4vw;
      }
      a {
        padding: 12px 64px;
        font-size: 1.2rem;
      }
    }
  }
}
