footer {
  background-color: #ffb400;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  min-height: 55px;
  article {
    display: flex;
    align-items: center;
    padding-left: 12px;
    p {
      font-size: 0.8rem;
      padding-left: 16px;
    }
  }
  .github-logo-left {
    width: 24px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;
  }
  li {
    padding: 0 16px;
    a {
      text-decoration: none;
      color: black;
      img {
        width: 24px;
      }
    }
  }
  .github-logo-right {
    display: none;
    width: 24px;
  }

  @media (min-width: 768px) {
    .github-logo-left {
      display: none;
    }
    .github-logo-right {
      display: block;
    }
    article {
      p {
        padding-left: 0;
        font-size: 1rem;
      }
    }
    ul {
      font-size: 1rem;
      li {
        a {
          img {
            align-items: center;
          }
        }
      }
    }
  }
}
