.town-main {
  min-height: calc(100vh - 55px - 55px);
  text-align: center;
  background-color: var(--background-color);
  h1 {
    margin: 16px 0;
    padding: 16px 0;
    text-shadow: 0 0 10px #f39d3c, 0 0 20px #ffa500, 0 0 30px #d4513a;
  }
  .list-cities {
    display: grid;
    gap: 80px;
    a {
      text-decoration: none;
      color: black;
    }
    a:last-child {
      margin-bottom: 64px;
    }
    img {
      height: 100%;
      width: 90%;
      border-radius: 24px;
    }
    .city-item h2 {
      text-shadow: 0 0 10px #f39d3c, 0 0 20px #ffa500, 0 0 30px #d4513a;
    }
  }

  @media screen and (min-width: 992px) {
    .list-cities {
      grid-template-columns: repeat(2, 1fr);
    }
    h1 {
      padding-bottom: 64px;
      font-size: 3rem;
    }
    .city-item h2 {
      font-size: 32px;
    }
  }
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 3.5rem;
    }
    .city-item h2 {
      font-size: 40px;
    }
  }
}
