* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: #ffb400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1.5rem 0;

  .navbar-burger {
    cursor: pointer;
    display: none;
    font-size: 1.5em;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .test {
    display: flex;
    gap: 0.5rem;
    padding: 0 2rem 0 0;
  }

  .logo-site {
    width: 64px;
    margin: 8px 8px 0 8px;
  }

  .icone {
    width: 32px;
    height: 32px;
  }

  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;

      width: 100%;
      background-color: #edab12;
      z-index: 1;
      display: none;

      &.show {
        display: flex;
      }
    }

    li {
      position: relative;
      padding: 1rem;

      &:hover {
        display: flex;
        flex-direction: column;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          color: #ff9900;
        }
      }
    }

    .active {
      color: #21180b;
      padding: 0.2em;
      background-color: #ff990018;
      box-shadow: 0 0 30px #75553f;
    }

    /* Responsive styles */
    @media screen and (max-width: 768px) {
      flex-direction: column;

      li {
        padding: 0.5rem;
        position: relative;

        a {
          padding: 0.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .icone {
    margin-top: 8px;
  }
}
