.town-detail-main {
  min-height: calc(100vh - 55px - 55px);
  img {
    width: 100%;
  }
  .town-detail-info {
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .buttons-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    button {
      font-size: 16px;
      font-weight: 800;
      background-color: #f4d1d1;
      margin: 0 auto;
      width: 80%;
      border: none;
      padding: 8px;
      border-radius: 16px;
      &.active {
        background-color: #ffe0e0;
        border: 2px solid #ffaaaa;
      }
    }
  }

  .text-display {
    min-height: 200px;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    background-color: #f4d1d1;
  }
  @media (min-width: 992px) {
    img {
      width: 50%;
      height: 65vh;
    }
    .town-detail-info {
      grid-template-columns: 20% 80%;
    }
    .buttons-column {
      button {
        width: 100%;
      }
    }
  }
}
